html, body, h1, section {
  font: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: monospace;
  font-size: 18px;
  width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul li {
  float: left;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.main {
  overflow: hidden;
  margin: 0 auto;
}

.board {
  margin: 0 auto;
  padding: 0;
  width: 222.25px;
  overflow: hidden;
  border: 10px solid #000;
}


.snake {
  z-index: 1;
  background: green;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  border-radius: 0px;
}

.apple {
  background: red;
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
